


.usertable {
    
  display: flex;              
  align-items: center;       
  background-color: #90AACB;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  color: white;
  font-family:Arial, sans-serif;

}

.cellname,
.cellemail,
.cellrole {
  flex: 1;                   
}

.cellrole select {
  padding: 4px 6px;
  border-radius: 4px;
  border: none;
}


@media (max-width: 768px) {
  .usertable {
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
    width: 100%;
  }



  .cellrole select {
    width: 150px;
  }
}