


.usertable {
    
  display: flex;              
  align-items: center;       
  background-color: #90AACB;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 8px;
  color: white;
  font-family:Arial, sans-serif;
  font-size: 20px;

}

.cellname,
.cellemail,
.cellrole {
  flex: 1;                   
}

.cellrole select {
  padding: 4px 6px;
  border-radius: 4px;
  border: none;
}


@media (max-width: 768px) {
  .usertable {
    width: 270px;          
    max-width: 400px;     
    margin: 20px auto;    
      font-size: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 20px;
    gap: 15px;
    background-color: #90AACB; 
    border-radius: 12px;
    box-sizing: border-box; 
  }

  .cellrole select {
    width: 100%;          
    padding: 10px;
    border-radius: 6px;
  }
}