.pageWrapper {
  display: flex;
  justify-content: center; 
  width: 100%;
}

.mainContent {
 display: flex;
  width: 66.66%;
  max-width: 1200px;
  padding: 110px 0;
  min-height: 580px; 
  height: auto;     
  position: relative;
}


.tableContainer {
  flex: 1;
  background-color: white;
  border: white 10px solid;
  border-radius: 22px;
  padding: 20px;
   height: auto; 
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;          
  margin-left: -20px; 
}

.containerUser {
  background-color: #ECF4FF;
  padding: 36px;
  flex: 1; 
  max-height: 500px;     
  overflow-y: auto;      
  overflow-x: hidden;            
}


.tableHeader {
  display: flex;
  background-color: #90AACB;
  padding: 10px;
  font-weight: 600;
  color: white;
  font-family:Arial, sans-serif;
  font-size: 18px;
}

.headerCell {

  flex: 1;
  text-align: left; 
}

.usertable {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 12px 20px;
  border-radius: 6px;
  margin-bottom: 12px;
}

.cellname, .cellemail, .cellrole {
  flex: 1;
}

.cellrole select {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  width: 120px; 
}

@media (max-width: 768px) {
  
  .tableContainer {
    background-color: transparent; 
    border: none;
    margin-left: 10px; 
    padding: 10px;
    margin-top: -90px;
    max-height: 650px;  
       

  }

  .containerUser {
    background-color: transparent; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
    max-height: 650px !important;

    height: auto;

  }

  .usertable {
    background-color: white; 
    border-radius: 12px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #edf2f7;
  }

  .cellname {
    font-weight: bold;
    color: #2d3748;
    font-size: 1.1rem;
    margin-bottom: 4px;
  }

  .cellemail {
    color: #718096;
    font-size: 0.9rem;
    margin-bottom: 12px;
  }

  .cellrole select {
    width: 100%;
    background-color: #f7fafc;
    border: 1px solid #e2e8f0;
    padding: 8px;
    border-radius: 6px;
    color: #4a5568;
  }
  .tableHeader{
    display: none;
  }
}