.containerForm {
    margin-top: 150px;
}


.form {

    width: 400px;
    height: 600px;
    margin: 80px auto;
    padding: 32px;
    background-color: #607998;
    border-radius: 18px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.img {
    display: flex;         
    justify-content: center;
    align-items: center;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%; 
    overflow: hidden;      
}




.form label {
    font-size: 0.9rem;
    font-weight: 540;
    margin-bottom: 6px;
    display: block;
    color: white;
    text-align: left;
    margin-left: 26px;
    font-family: Arial, sans-serif;
}

.form input {
    width: 80%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    background-color: #ECF4FF;
}

.form input:focus {
    outline: none;
    border-color: #90aacb;
    box-shadow: 0 0 0 2px rgba(144, 170, 203, 0.25);
}

.bottuns {
    display: flex;
    gap: 12px;
    margin-top: 100px;
    border: none;
}

.submit {
    flex: 1;
    background-color: #FFB085;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 18px;

}

.submit:hover:not(:disabled) {
    background-color: #7b95b5;
}



.bottun {
    flex: 1;
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
    font-size: 18px;
}

.bottun:hover {
    background-color: #90aacb;
    color: white;
}

.form p {
    font-size: 1rem;
    margin: 4px 0 0;
}

.iconEye {
    position: absolute;     
    right: 40px;             
    top: 50%;              
    transform: translateY(-50%);
    cursor: pointer;
}

@media (max-width: 786px) {
    .containerForm {
        margin-top: 120px; 
    }

    .form {
        width: 80%;
        height: auto; 
        margin: 20px auto;
        padding: 20px;
        gap: 15px;
    }

    .form input {
        width: 100%; 
        box-sizing: border-box; 
    }

    .form label {
        margin-left: 5px; 
    }

    .bottuns {
        flex-direction: row; 
        margin-top: 30px;
    }

    .submit, .bottun {
        width: 100%;
        padding: 15px; 
    }
}