.tilesContainer{

display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap:20px;
padding: 15px;
margin-top: 120px;
margin-left: 250px;
}

.buttonColor {
    width: 40px;
    height: 40px;
    border-radius: 9%;
    border: none;

}