.footerContainer {
    width: 100%;
    height: 72px;
    background-color: #90AACB;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.undoButton {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Assistant', sans-serif;
    cursor: pointer;
    padding: 0 40px;
    height: 100%;
}

.undoButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.saveContainer {
    width: 140px;
    height: 100%;
    background-color: #607998;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saveButton {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Assistant', sans-serif;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.saveButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}