.sidebar {
    width: 250px; 
    height: 600px;
    background-color: #90AACB;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    gap: 25px;
    border-radius: 12px 0 0 12px; 
  }

.sidebarItem {
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    text-align: left;
    cursor: pointer;
    opacity: 1;
    text-transform: capitalize;
}

.sidebarItem.active {
    font-weight: bold;
    color:#607998
}
@media (max-width: 768px) {
  .sidebar {
    position: fixed;   
    top: 72px;
    left: 0;
    bottom: 0;        
    width: 60px;      
    height: 800vh;     
    
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: flex-start; 
    padding-top: 20px;     
    margin: 0;
    border-radius: 0; 
    background-color: #90AACB;
    z-index: 9999;
  }

  .sidebarItem {
    width: 100%;           
    font-size: 16px;     
    padding: 15px 0;        
    color: white;
    text-align: center;     
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.2s ease;
  }

 .sidebarItem.active {
    font-weight: bold;
    color:#607998
}

  
}