.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background-color: #90AACB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}


.details {
    width: 205px;
    height: 100%;
    background-color: #607998;
    display: flex;
    align-items: center; 
    padding: 0 15px;
    gap: 15px; 
}

.textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Assistant';
    margin: 0;
}

.role {
    color: #e0e0e0; 
    font-size: 16px;
    font-family: 'Assistant';
    margin: 0;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightIcons {
    display: flex;
    align-items: center;
    height: 100%;
}


.headerButton1, .headerButton2 {
    border: none;
     width: 72px;
    background: none; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.headerButton1 { padding: 0 20px; }

.headerButton1.active {
    background-color: #607998 !important;
}
.headerButton2.active {
    background-color: #607998 !important;
}

.img {
    width: 24px;;
}