.tile {
  width: 90%;
  max-width: 280px;
  aspect-ratio: 4 / 5;
  border-radius: 12px;
  position: relative;
}

.tile[data-color="#E98652"] { background-color: #E98652; }
.tile[data-color="#F9D5A7"] { background-color: #F9D5A7; }
.tile[data-color="#FFB085"] { background-color: #FFB085; }
.tile[data-color="#FEF1E6"] { background-color: #FEF1E6; }

.colorButtons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.colorButton {
    width: 40px;
    height: 40px;
    border-radius: 9%;
    border: none;
    cursor: pointer;
}

.colorButton[data-color="#E98652"] { background-color: #E98652; }
.colorButton[data-color="#F9D5A7"] { background-color: #F9D5A7; }
.colorButton[data-color="#FFB085"] { background-color: #FFB085; }
.colorButton[data-color="#FEF1E6"] { background-color: #FEF1E6; }

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-top: 290px;
    margin-left: 32px;
}

.deleteBtn {
    width: 40px;
    height: 40px;
    background-color: #90AACB;
    border: none;
    border-radius: 9%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


@media (max-width: 768px) {
    .buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-top: 290px;
    margin-left: 32px;
}

}